// Add your own custom styles here

//commande yann fonctionne pour images ajoutées en html
.dark .content img[src$='#light'] {
    display: none
}

.content img[src$='#dark'] {
    display: none
}

.dark .content img[src$='#dark'] {
    display: inline-block
}

//commande yann fonctionne pour images ajoutées en .Md
.dark .content .light img {
    display: none
}

.content .dark img {
    display: none
}

.dark .content .dark img {
    display: inline-block
}

//commande yann fonctionne pour aligner picto
.inline-image img {
    margin: 3%;
    max-width: 152px;
    min-width: 88px;
    width  : 16%;
}

.inline-image {
    display:inline;
    opacity: 0.8;
}

.inline-image:hover {
            opacity: 1;
    }



.principale {
    opacity: 1;
}


.logo_certif {
    max-width: 500px;
    min-width: 180px;
    width  : 40%;
}

.tableau
{
    border-color: red;
    background-color: transparent;
}